<!-- **** -->
    <!-- ENTRY USER -->
    <div class="user">
      <div class="avatar">
        <img class="avatar__img" src="../assets/images/Logo Deivid Dev .png"  alt="">
        <form class="form" action="...">
            <label class="avatar__label" for="file">Change image</label>
            <input class="avatar__control--file" id="file" type="file">
        </form>
      </div>

      <div class="avatar__info">
        <h1>Deividev</h1>
        <div class="avatar__info--btn">
          <a class="btn" href="editUser.html">Edit</a>
            <a class="btn btn__icon" href="home.html">
              <svg>
                <use xlink:href="../assets/svg/sprite.svg#exit"></use>
              </svg>
            </a>
        </div>
          <div class="avatar--social">
          <p>Modelador 3d, programador amateur y amante de los videojuegos.</p>
          </div>
          <div class="avatar__info--link">
            <span>
              <svg>
                  <use xlink:href="../assets/svg/sprite.svg#location"></use>
              </svg>
              <p>
                Madrid
              </p>
            </span>
            <a href="#">artstation.com/deividev</a>
            <a href="#">@deividev</a>
          </div>
      </div>
    </div>
    <!-- ENTRY USER -->
    <!-- **** -->
