
<div class="container">
  <form class="form-upload" action="...">
    <h1>Create 3d object</h1>
    <div class="form__group form__group--file">
      <label class="avatar__label" for="file">Upload 3d file</label>
      <input class="avatar__control--file" id="file" type="file">
    </div>
    <div class="form__row">
      <div class="form__group">
        <label class="form__label" for="portfolio" >Portfolio/Personal site</label>
        <input class="form__control" type="url"  id="portfolio">
        <div class="form__group">
          <select class="form__control" name="categories" id="categories">
            <option value="">Select categorie</option>
            <option value="">Fan art</option>
          </select>
        </div>
        <div class="form__group form__group--area">
          <label class="form__label" for="bio" >Description</label>
          <textarea class="form__control--area" id="bio" cols="10" rows="5"></textarea>
        </div>
      </div>
      <div class="form__group--img form__group--ml">
        <label class="avatar__label" for="file">Change image</label>
        <input class="avatar__control--file" id="file" type="file">
      </div>
    </div>

  </form>
</div>
