/*------------------------------*/
/* BASE                         */
/* ---------------------------- */

body {
  color: $gray-400;
  background-color: $third;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
}

/* TITLES */
/*------*/

h1 {
  font-size: rem(40px);
  font-weight: 700;
  color: $gray-400;
}

h2 {
  font-size: rem(30px);
  color: $gray-400;
}

h3 {
  font-size: rem(26px);
  color: $gray-400;
}

h4 {
  font-size: rem(22px);
  color: $gray-400;
}

h5 {
  font-size: rem(20px);
  color: $gray-400;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 500;
}

.medium {
  font-weight: 700;
}

p {
  font-size: rem(18px);
  color: $gray-300;
}

.text__sm {
  font-size: rem(16px);
}

section {
  padding: 20px 0px;
}


/*** LINKS ***/
/*------------*/

a {
  color: $gray-200;
  text-decoration: none;
  cursor: pointer;
}



input::placeholder {
  color: $gray-200;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

label {
  color: $gray-300;
}

svg {
  width: rem(30px);
  height: rem(28px);
}


use {
  float: right;
}


textarea {
  min-height: 100px;
  resize: vertical;
}

.logo {
  display: flex;
  align-items: center;
  margin: 10px 0px;

  &-title {
    font-size: rem(27px);
    text-transform: uppercase;
  }
}


