<!-- **** -->
<!-- HEADER -->
<header class="header" routerLinkActive="active">
  <a class="logo" aria-label="Factory print3d" routerLink="/home">
    <img  src="../assets/images/logo.png" alt="" width="40px" height="43px">
  </a>

  <div>
    <a class="btn btn__second" routerLink="/register">Register</a>
    <a class="btn btn__primary" routerLink="/login">Login</a>
  </div>
</header>

<!-- HEADER -->
<!-- **** -->

<!-- **** -->
<!-- NAV -->
<nav class="navbar" routerLinkActive="active">
  <a class="navbar__link" routerLink="/home">Home</a>
  <li class="navbar__categories">
    <a *ngFor="let item of categories" class="navbar__link" routerLink="/category/_id">{{item.title}}</a>
  </li>
</nav>
<!-- NAV -->




