<div class="container">
  <form class="form" action="...">
      <div class="form__avatar">
        <img class="avatar__img" src="../assets/images/Logo Deivid Dev .png"  alt="">
        <label class="avatar__label" for="file">Change image</label>
        <input class="avatar__input--file" id="file" type="file">
      </div>
    <div class="form__row">
      <div class="form__group">
        <label class="form__label" for="email" >Email</label>
        <input class="form__control" type="text"  id="email">
      </div>
      <div class="form__group form__group--ml">
        <label class="form__label" for="name" >Name</label>
        <input class="form__control" type="email"  id="name">
      </div>
    </div>
    <div class="form__group">
      <label class="form__label" for="username" >Username</label>
      <input class="form__control" type="text"  id="username">
    </div>
    <div class="form__row">
      <div class="form__group">
        <label class="form__label" for="portfolio" >Portfolio/Personal site</label>
        <input class="form__control" type="url"  id="portfolio">
      </div>
      <div class="form__group form__group--ml">
        <label class="form__label" for="instagram" >Instagram</label>
        <input class="form__control" type="text"  id="instagram">
      </div>
    </div>
    <div class="form__group">
      <label class="form__label" for="location" >Location</label>
      <input class="form__control" type="text"  id="location">
    </div>
    <div class="form__group form__group--area">
      <label class="form__label" for="bio" >Bio</label>
      <textarea class="form__control--area" id="bio" cols="10" rows="5"></textarea>
      <button class="btn btn__primary" type="submit">Update</button>
    </div>
  </form>
</div>
