/*** ENTRYHOME  ***/

@import "../../../sass/global/variables";
@import "../../../sass/mixins/mixins";

.cover {
  display: flex;
  justify-content: flex-start;
  height: rem(600px);
  padding: 10px;
  background: url("../../../assets/images/background-cover4.jpg") no-repeat center;
  background-size: cover;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 10px 100px;
  }

  &__title {

    margin-bottom: 10px;
  }

  &__text {
    color: #fff;
  }
}
