  <!-- **** -->
  <!-- COVER HOME -->
<section class="cover">
  <div class="cover__container">
    <div class="cover__title">
      <h1>Buscas modelos 3d?</h1>
      <p>Encuentra el modelo 3d que necesites para imprimirlo.</p>
      <!-- <form  action="...">
        <div class="search" id="search">
            <label class="search__label" for="search"></label>
            <input class="search__control" id="search" name="search" type="search">
            <button type="button" class="btn__icon search__control--icon">
              <svg >
                <use xlink:href="../assets/svg/sprite.svg#search"></use>
              </svg>
            </button>
        </div>
      </form> -->
    </div>
  </div>
</section>
  <!-- COVER HOME -->
  <!-- **** -->
