
<div class="container">
  <form action="models" method="POST" enctype="multipart/form-data" [formGroup]="formUpload" class="form-upload">
    <h1>Upload 3d</h1>
    <div class="form__row ">
      <div class="form__group">
        <label class="form__label" for="title">Title</label>
        <input class="form__control" type="text"  id="title" formControlName="title">
      </div>
      <div class="form__group form__group--ml">
        <label class="form__label" for="categories">Categories</label>
        <select class="form__control" name="categories" id="categories" formControlName="categories">
          <option value="">Fan art</option>
          <option value="">Toy and games</option>
          <option value="">Gadgets</option>
          <option value="">Utility</option>
          <option value="">Education</option>
          <option value="">Others</option>
        </select>
      </div>
    </div>
    <div class="form__group form__group--area">
      <label class="form__label" for="bio" >Description</label>
      <textarea class="form__control form__control--area" id="bio"  rows="2" formControlName="description"></textarea>
    </div>
    <div class="form__row">
      <div class="form__group form__group--area">
        <label class="form__label" for="print" >Print settings</label>
        <textarea class="form__control form__control--area" id="print"  rows="2" formControlName="settings"></textarea>
      </div>
      <div class="form__group form__group--ml form__group--area">
        <label class="form__label" for="custom" >Custom section</label>
        <textarea class="form__control form__control--area" id="custom"  rows="2" formControlName="custom"></textarea>
      </div>
    </div>
    <div class="form__row">
      <div class="form__group">
        <label class="form__label" for="license" >License</label>
        <select class="form__control" name="categories" id="license">
          <option value="">CC</option>
          <option value="">CC</option>
          <option value="">CC</option>
        </select>
      </div>
      <div></div>
    </div>
    <div class="form__group">
      <label class="form__label" for="tags" >Tags</label>
      <input class="form__control" type="text"  id="tags" formControlName="tags">
      <div></div>
    </div>
    <div class="form__row">
        <div class="form__label--files">
          <label class="form__label" for="file">Model 3d  (format .glb) <i class="icon-upload"></i></label>
          <input class="form__control--file" (change)="changeModel($event)" formControlName="model" name="image" type="file" #modelInput>
          <img class="form__control--image" [src]="model3dSelected || '../../../assets/images/No_file_available.png'" width="400" height="250" (click)="modelInput.click()">
          <!-- <model-viewer class="model"
          [src]="model3dSelected || '../../../assets/images/No_file_available.png'"
          alt="A 3D model of an astronaut" auto-rotate camera-controls
          (click)="modelInput.click()">
          </model-viewer> -->

        </div>
        <div class="form__label--files">
          <label class="form__label" for="file">Images <i class="icon-upload"></i></label>
          <input class="form__control--file" (change)="changeFile($event)" formControlName="img" name="image"  type="file"   #photoInput>
          <img class="form__control--image" [src]="imageSelected || '../../../assets/images/no-image-found.png'" width="400" height="250" (click)="photoInput.click()">
        </div>
      </div>
    <button  class="btn btn__success" (click)="submit()" >Upload</button>
  </form>
</div>

