
@import "../../../sass/global/variables";

.form-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin: 40px 0px;
  text-align: center;
  border: 1px solid $gray-100;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 2rem -1rem rgba(0,0,0,0.5);
}


.form__half {
  width: 50%;
  height: 100%;
}

fieldset {
  width: 100%;
  display: flex;
  justify-content: center;
}
