
<div class="container">
  <form action="upload" method="POST" enctype="multipart/form-data" [formGroup]="formUpload" class="form-upload">
    <h1>Upload 3d</h1>
    <div class="form__row ">
      <div class="form__group">
        <label class="form__label" for="title">Title</label>
        <input class="form__control" type="text"  id="title" formControlName="title">
      </div>
      <div class="form__group form__group--ml">
        <label class="form__label" for="categories">Categories</label>
        <select class="form__control" name="categories" id="categories" formControlName="categories">
          <option value="">Fan art</option>
          <option value="">Toy and games</option>
          <option value="">Gadgets</option>
          <option value="">Utility</option>
          <option value="">Education</option>
          <option value="">Others</option>
        </select>
      </div>
    </div>
    <div class="form__group form__group--area">
      <label class="form__label" for="bio" >Description</label>
      <textarea class="form__control form__control--area" id="bio" cols="10" rows="5" formControlName="description"></textarea>
    </div>
    <div class="form__row">
      <div class="form__group form__group--area">
        <label class="form__label" for="print" >Print settings</label>
        <textarea class="form__control form__control--area" id="print" cols="10" rows="5" formControlName="settings"></textarea>
      </div>
      <div class="form__group form__group--ml form__group--area">
        <label class="form__label" for="custom" >Custom section</label>
        <textarea class="form__control form__control--area" id="custom" cols="10" rows="5" formControlName="custom"></textarea>
      </div>
    </div>
    <div class="form__row">
      <div class="form__group">
        <label class="form__label" for="license" >License</label>
        <select class="form__control" name="categories" id="license">
          <option value="">CC</option>
          <option value="">CC</option>
          <option value="">CC</option>
        </select>
      </div>
      <div></div>
    </div>
    <div class="form__group">
      <label class="form__label" for="tags" >Tags</label>
      <input class="form__control" type="text"  id="tags" formControlName="tags">
      <div></div>
    </div>
    <div class="form__row">
        <div class="form__label--files">
          <label for="file">Model 3d <i class="icon-upload"></i></label>
          <input  (change)="changeModel($event)" formControlName="model" name="image" id="model" type="file">
        </div>
        <div class="form__label--files">
          <label for="file">Images <i class="icon-upload"></i></label>
          <input name="image"  type="file" (change)="changeFile($event)" formControlName="img">
        </div>
      </div>
    <button  class="btn btn__success" type="submit" (click)="upload($event)" >Upload</button>
  </form>
</div>
