

<section  class="category">
  <nav *ngIf="showNavigation" class="">
    <button class="btn btn--profile" type="button">Models</button>
    <!-- <button class="btn btn--profile" type="button">Collections</button> -->
  </nav>
  <h2 *ngIf="showTitle"  class="category__title">{{title}}</h2>
  <div id="categorie" class="category__container" routerLinkActive="active">
    <a *ngFor="let item of listModels" routerLink="/model/{{item._id}}" class="card" href="">

      <img class=" card__image" [src]="item.img" alt="">
      <div class="card__content">
        <div class="card__title">
          <h5>{{item.title}}</h5>
          <a routerLink="/user/:userId">Deividev</a>
        </div>
        <div class="card__btn">
          <span class="card__btn--info">
          <button type="button" class="btn btn__icon btn__icon--model">
            <svg>
              <use xlink:href="../assets/svg/sprite.svg#like"></use>
            </svg>
          </button>
          {{item.likes}}
          </span>
          <span class="card__btn--info">
          <button type="button" class="btn btn__icon btn__icon--model">
            <svg>
              <use xlink:href="../assets/svg/sprite.svg#download"></use>
            </svg>
          </button>
          {{item.downloads}}</span>
        </div>
      </div>
    </a>
  </div>
</section>
  <!-- CATEGORIE -->
  <!-- **** -->
