<!-- **** -->
<!-- HEADER -->
<header class="header" routerLinkActive="active">
  <a class="logo" aria-label="Factory print3d" routerLink="/home">
    <img  src="../assets/images/logo.png" alt="" width="40px" height="43px">
    <h1 class="logo-title">Factory 3d</h1>
  </a>
  <div class="container-search">
    <app-search *ngIf="searchNoActive"></app-search>
  </div>
  <div class="container-flex">
    <a class="btn btn__primary" routerLink="/upload">Upload</a>
    <app-modal-collection></app-modal-collection>

    <button class="btn btn__icon btn__icon--info" type="button">
      <svg>
        <use xlink:href="../assets/svg/sprite.svg#bell"></use>
      </svg>
    </button>
    <a class="avatar--sm" routerLink={{username}}>Dd</a>
  </div>
</header>
<!-- HEADER -->
<!-- **** -->

<!-- **** -->
<!-- NAV -->
<nav class="navbar" routerLinkActive="active">
<a class="navbar__link" routerLink="/home">Home</a>
<div class="navbar__categories">
  <a *ngFor="let item of categories" class="navbar__link" routerLink="/category/{{item._id}}">{{item.title}}</a>
</div>
</nav>
<!-- NAV -->


