@import "../../../sass/mixins/mixins";
@import "../../../sass/global/variables";

.container-flex {
  display: flex;
  align-items: center;
}

.navbar {

  &__icon {
    width: rem(25px);
    height: rem(25px);
  }

  &__icon--lines {
    fill: #fff;
  }

  &__icon--lines:hover {
    fill: #fff;
    stroke: none;
  }

  &__link:hover &__icon--lines {
    color: $third;
    background-color: $gray-300;
    border-radius: 4px;
    stroke: none;
  }
}
