//COLORS

$primary: #34333b;
$second:   #666;
$third:   #faf9fe;
$fourth:   #c4f2ee;
$red:     #ef3e34;


$gray-100: #e3e1e4;
$gray-200: #b4b4b4;
$gray-300:    #666;



//COLORS HOVER

$primary-hover: #4d4a61;
$second-hover:   $gray-200;
$third-hover:   #faf9fe;
$fourth-hover:   #c4f2ee;
$red-hover:     #fa564d;

//TEXT COLOR

$text-default: #111;
$text-second:  #555;

//SIZES TEXT

