@import "../../../sass/global/variables";


.form-comments{
  width: 100%;
  margin-bottom: 20px;
}


.container-row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}


.container-user {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0px;
}

//IMG BUTTONSt

.container--model {
  width: 60%;
  margin: 20px;
}

.card-slider {
  position: relative;
  z-index: 10;
  margin-right: 5px;
}



.card-model {
  border: 1px solid $gray-100;
  margin: 20px 0px;
  background-color: #fff;
  padding: 30px;
}

.card__suggestion {
  width: 37%;
  margin: 40px 0px;
  border: 1px solid $gray-100;
  background-color: #fff;
  padding: 30px;
}


//COMPONENT VIEWER
canvas {
  width: rem(400px);
  height: rem(400px);
}

// :host {
//   width: 400px;
//   height: 400px;
// }

.model {
  width: 400px;
  height: 400px;
  border: 1px solid $gray-100;
}
//**COMPONENT VIEWER**

.control__slider--left {
  width: rem(50px);
  height: rem(50px);
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 50;
  top: 50%;
  left: 0;
  background: none;
  border: 0;
  outline: none;
}

.control__slider--right {
  position: absolute;
  z-index: 50;
  top: 50%;
  right: 0;
  background: none;
  border: 0;
  outline: none;
}

//AVATAR

.avatar--info {
  margin: 10px 10px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 1px solid;
  border-radius: 50%;
  background-color: $fourth;
}

.model-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}


//TOOLS

.tools {
  display: flex;

  padding: 20px;
}

.btn-tools {
  display: flex;
}


//COMMENTS


.comment {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid $gray-200;
  border-radius: 4px;
  padding: 40px;
  background-color: #fff;
}
