
<div class="container-row">
  <div class="card-slider">
    <img class="img" src="../assets/images/stormtrooper-helmet.jpg" alt="" width="400" height="400">

    <button type="button" class="btn__icon control__slider--left">
      <svg >
        <use xlink:href="../assets/svg/sprite.svg#left"></use>
      </svg>
    </button>
    <button type="button" class="btn__icon control__slider--right">
      <svg >
        <use xlink:href="../assets/svg/sprite.svg#right"></use>
      </svg>
    </button>
  </div>
  <img class="model" src="../assets/images/stormtrooper-helmet.jpg" alt="" width="400" height="400">
  <div>
</div>
  <h1>Stormtrooper</h1>
</div>

