<div class="container--model">
  <div class="card-model">
    <div class="container-row">
      <div class="card-slider">
        <img class="img" src="../assets/images/stormtrooper-helmet.jpg" alt="" width="400" height="400">

        <button type="button" class="btn__icon control__slider--left">
          <svg >
            <use xlink:href="../assets/svg/sprite.svg#left"></use>
          </svg>
        </button>
        <button type="button" class="btn__icon control__slider--right">
          <svg >
            <use xlink:href="../assets/svg/sprite.svg#right"></use>
          </svg>
        </button>
          <!-- <img class="model" src="../assets/images/stormtrooper-helmet.jpg" alt="" width="400" height="400"> -->
         <model-viewer class="model" src="./assets/images/dart-model.glb" alt="A 3D model of an astronaut" auto-rotate camera-controls></model-viewer>
      </div>
    </div>
    <div class="container-row">
      <div class="model-title">
        <h1>Stormtrooper</h1>
        <p>Casco de las guerras de las galaxias con un soporte para poder dejarlo
          en una estanteria como decoracion.
        </p>
      </div>
      <div class="">
        <h4 class="">Created by</h4>
          <div class="container-user">
            <a class="avatar--info" href="">Dd</a>
            <div class="user-info">
              <p>Username</p>
              <p>Email</p>
            </div>
          </div>
        <p>Modelador 3d apasionado por la tecnologia y todo lo que le rodea.
          asdawawddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
          adwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
        </p>
      </div>
    </div>
  </div>

<!-- BUTTONS -->

  <div class="tools">
    <div class="btn-tools">
      <button type="button" class="btn  btn__icon btn-primary">
        Collection
        <svg >
          <use xlink:href="../assets/svg/sprite.svg#collection"></use>
        </svg>
      </button>
      <button type="button" class="btn  btn__icon">
        Download
        <svg >
          <use xlink:href="../assets/svg/sprite.svg#download"></use>
        </svg>
      </button>
    </div>
    <div class="btn btn__icon">
      120
      <svg>
        <use xlink:href="../assets/svg/sprite.svg#like"></use>
      </svg>
      1455
      <svg >
        <use xlink:href="../assets/svg/sprite.svg#download"></use>
      </svg>
    </div>
  </div>

  <p class="category__title">Comment</p>
  <div class="container-row">
    <form class="form-comments" action="">
      <textarea class="form__control--area" name="" id="" cols="30" rows="10" ></textarea>
      <button class="btn btn-success">Comment</button>
    </form>
    <div class="comment">
      <div>
        <a class="avatar--info" href="">Dd</a>
        <p>Deividev</p>
      </div>
      <p>Hola me gustaria saber si podrias pasarme detalles mas especificos sobre las opciones
        la hora de imprimir el casco.</p>
    </div>
  </div>
</div>
