<div class="container">
  <form class="form" action="submit">
    <div class="logo">
      <a class="logo" href="home.html">
        <img  src="../assets/images/logo.png" alt="" width="400px" height="400px">
      </a>
    </div>
    <h3>Forgot your password?</h3>
    <div class="form__group">
      <label class="form__label" for="password" >Password</label>
      <input class="form__control" type="password"  id="password">
    </div>
    <div class="form__group">
      <button class="btn btn__primary" type="submit">Reset password</button>
    </div>
  </form>
  <div class="background"></div>
</div>
