<div class="login" routerLinkActive="active">
  <form class="form" action="submit">
    <div class="logo">
      <a class="logo" routerLink="/home">
        <img  src="../assets/images/logo.png" alt="" width="100" height="100">
      </a>
      <h1>Factory 3d</h1>
    </div>
    <h3>Forgot your password?</h3>
    <div class="form__group">
      <label class="form__label" for="password" >Password</label>
      <input class="form__control" type="password"  id="password">
    </div>
    <button class="btn btn__primary" type="submit">Reset password</button>
  </form>
  <div class="background"></div>
</div>
