
<!-- HOME -->

<!-- header -->
<!-- <app-header></app-header> -->

<!-- header login -->
<app-header-login></app-header-login>



<!-- portada -->
<!-- <app-cover></app-cover> -->


<!-- Categorie -->
<!-- <app-categories></app-categories>
<app-card></app-card> -->



<!-- SING-IN-->
<!-- <app-form-login></app-form-login>
<app-form-register></app-form-register>
<app-form-forgot></app-form-forgot>  -->



<!-- PROFILE-USER -->
 <!-- <app-info-user></app-info-user>
<app-categories-btn></app-categories-btn> -->


<!-- EDIT USER -->
<app-form-edit-user></app-form-edit-user>
