
<!-- HOME -->

<!-- header -->
<app-header></app-header>


<router-outlet></router-outlet>
<!-- header login -->
<!-- <app-header-login></app-header-login> -->



<!-- portada -->
<!-- <app-cover></app-cover> -->


<!-- Categorie -->
<!-- <app-categories></app-categories>
<app-card></app-card> -->


<!-- FORM -->
<!-- SING-IN-->
<!-- <app-form-login></app-form-login>
<app-form-register></app-form-register>
<app-form-forgot></app-form-forgot> -->


<!-- EDIT USER -->
<!-- <app-form-edit-user></app-form-edit-user> -->


<!-- INFO-MODEL -->
<app-info-model></app-info-model>

<!-- Upload Details -->
<app-form-upload-details></app-form-upload-details>






<!-- PROFILE-USER -->
<!-- <app-info-user></app-info-user>
<app-listBtn></app-listBtn> -->

