@import "../../../sass/global/variables";
@import "../../../sass/mixins/mixins";

//**COMPONENT VIEWER**

.btn__3d {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 50;
  bottom: 5%;
  left: 3%;
  font-size: 18px;
  font-weight: 700;
  border-radius: 7px;
  border: 1px solid $second;
  outline: none;
  padding: 10px 25px;
  color: $second;
  background: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn__3d:hover {
  border: 1px solid $second-hover;
  color: $second-hover;
  background-color: rgba(70, 70, 70, 0.753);
  cursor: pointer;
}


.model{
  display: none;
  width: 100%;
  height: rem(600px);
  border: 1px solid $gray-200;
  background-color: #fff;
  transition: all 0.1s linear;
}

.modelShow{
  display: block;
  width: 100%;
  height: rem(400px);
  border: 1px solid $gray-200;
  background-color: #fff;
  transition: all 0.1s linear;
}

model-viewer canvas {
  width: 100%;
  height: rem(600px);
}


