@import "../../../sass/global/variables";
@import "../../../sass/mixins/mixins";

//**COMPONENT VIEWER**

.model{
  display: none;
  width: 100%;
  height: rem(400px);
  border: 1px solid $gray-200;
  transition: all 0.8s linear;
}

.modelShow{
  display: block;
  transition: all 0.1s linear;
}

model-viewer canvas {
  width: 100%;
  height: rem(600px);
}


