// -------
// AVATARS
// -------


.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $third;
}


.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: rem(380px);
  width: 30%;



  &--sm {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    background-color: $fourth;
    cursor: pointer;
  } 
       
  &__info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
  }

  &__info--btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
  }

  &__info--link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0px 10px;
  }

  &--social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

  &__img {
    width: rem(200px);
    height: rem(200px);
    border-radius: 50%; 
    border: 2px solid $text-default;
    background-color: $third; 
  }

  &__label[for="file"] {
    display: inline-block;
    width: fit-content;
    color: $gray-200;
    background-color: $third;
    cursor: pointer;
    padding: 15px 20px ;
    text-align: center;
    transition: all .5s;
  }

  &__input--file {
    display: none;
    width: 0.1px;
    height: 0.1px;
  }
}