/*** ENTRYHOME  ***/

.cover {
  display: flex;
  justify-content: center;
  height: 20.313rem;

  &__container {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 10px;
  }
}


