/*** FORM  ***/
.login {
  width: 70%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.form {

  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__group {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
  }

  &__group--ml {
    margin-left: 30px;
  }

  &__group--file {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: rem(200px);
    font-size: rem(20px);
    border: 1px solid $text-default;
    border-radius: 4px;
    background-color: $gray-100;
  }

  &__group--img {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: rem(400px);
    font-size: rem(20px);
    border: 1px solid $text-default;
    border-radius: 4px;
    background-color: $gray-100;
  }

  &__control--large {
    flex-grow: 2;
  }

  &__row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__label {
    display: block;
    margin: 10px 0px;
    color: $text-default;
  }

  &__control {
    height: 2.5rem;
    font-size: rem(20px);
    padding: 0px 5px 0px 5px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid $text-default;
    border-radius: 4px;
    background-color: #fff;
    color: $text-default;
  }

  &__control--large {
    width: 100%;
  }

  &__control--error {
    border-color: $red;
  }

  &__control--area {
    width: 100%;
    height: rem(220px);
    font-size: rem(20px);
    font-family: 'Roboto', sans-serif;
    border: 1px solid $text-default;
    border-radius: 4px;
    background-color: #fff;
    color: $text-default;
  }

  &__control--icon {
    position: absolute;
    z-index: 20;
    right: 0;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  &__input::placeholder {
    font-size: rem(20px);
    color: $gray-100;
    padding-left: 5px;
  }

  &__input:focus {
    border-color: $gray-100;
  }



  &__link {
    color: $gray-300;
    padding: 5px;
  }

  &__link:hover {
    color: $gray-200;
    padding: 5px;
  }

  &__redirects {
    display: inline-flex;
    align-items: center;
  }

}



















