<div class="container">
  <form class="form">
    <div class="logo">
      <a class="logo" href="home.html">
        <img  src="../assets/images/logo.png" alt="" width="400px" height="400px">
      </a>
    </div>
    <button class="btn btn--default" type="button">
        <svg>
            <use xlink:href="../assets/svg/sprite.svg#google"></use>
        </svg>
    </button>
      <div class="form__group">
        <label class="form__label" for="email" >Email</label>
        <input class="form__control" type="text"  id="email">
      </div>
      <div class="form__group ">
        <div class="form__redirects">
          <label class="form__label" for="password" >Password</label>
          <a class="form__link" href="forgot.html">Forgot?</a>
        </div>
        <input class="form__control" type="password"  id="password">
      </div>
      <div class="form__group">
        <div class="form__redirects">
            <p>Don't have an account.</p>
            <a class="form__link" href="register.html">Register</a>
        </div>
      </div>
      <div class="form__group">
        <button class="btn btn__primary" type="submit">Login</button>
      </div>
    </form>
  <div class="background"></div>
</div>
