@import "../../../sass/global/variables";
@import "../../../sass/mixins/mixins";

//MODAL

.modal {
  display: flex;
  flex-direction: column;
  height: rem(400px);
  width: rem(500px);
  position: fixed;
  z-index: 999;
  top: 17%;
  right: 0;
  border: 1px solid $gray-100;
  margin: 0px 100px;
  padding: 20px;
  background-color: #fff;
  transform: translate3d(130%, 0, 0);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 0 2rem -1rem rgba(0,0,0,0.5);
  overflow-y: scroll;
}

.showModal {
  transform: translate3d(0%, 0, 0);
}


.modal__card {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

.modal__img {
  width: rem(100px);
  height: rem(100px);
  margin: 0px 10px;
}

.modal__btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}



