
<button (click)="toggle()" class="btn btn__icon btn__icon--info" type="button">
    <svg>
      <use xlink:href="../assets/svg/sprite.svg#collection"></use>
    </svg>
</button>
<!-- *ngFor="let item of listCollections"  -->
<div *ngIf="isOpen" [ngClass]="isOpen ? 'showModal' : 'modal'" class="modal">
  <div>
    <h3>Collections:</h3>
    <p>Star wars</p>
  </div>
  <div class="modal__card">
    <h4 class="modal__title" >Stormtrooper</h4>
    <img class="modal__img" src="../../../assets/images/stormtrooper-helmet.jpg" alt="">
    <button class="btn" type="button">&times;</button>
  </div>
  <div class="modal__card">
    <h4 class="modal__title" >Stormtrooper</h4>
    <img class="modal__img" src="../../../assets/images/stormtrooper-helmet.jpg" alt="">
    <button class="btn btn--default" type="button">&times;</button>
  </div>
</div>





