

  <button class=" btn btn__primary" type="button">Modal</button>
  <div class="modal">
    <div class="modal__card">
      <h2 class="modal__title" >Stormtrooper</h2>
      <img class="modal__img" src="../../../assets/images/stormtrooper-helmet.jpg" alt="">
      <span>&times;</span>
    </div>
    <div class="modal__card">
      <h2 class="modal__title" >Stormtrooper</h2>
      <img class="modal__img" src="../../../assets/images/stormtrooper-helmet.jpg" alt="">
      <span>&times;</span>
    </div>
    <div class="modal__btn">
      <button class=" btn btn__icon0" type="button">Back</button>
    </div>
  </div>

