
<button (click)="toggle()" class="btn btn__primary" type="button">Modal</button>
<!-- *ngFor="let item of listCollections"  -->
<div *ngIf="isOpen" [ngClass]="isOpen ? 'showModal' : 'modal'" class="modal">
  <div>
    <h3>Collections:</h3>
    <p>Star wars</p>
  </div>
  <div class="modal__card">
    <h4 class="modal__title" >Stormtrooper</h4>
    <img class="modal__img" src="../../../assets/images/stormtrooper-helmet.jpg" alt="">
    <span>&times;</span>
  </div>
  <div class="modal__card">
    <h4 class="modal__title" >Stormtrooper</h4>
    <img class="modal__img" src="../../../assets/images/stormtrooper-helmet.jpg" alt="">
    <span>&times;</span>
  </div>
  <div class="modal__btn">
    <!-- <button (click)="closeModal()" class=" btn btn__icon0" type="button">Back</button> -->
  </div>
</div>





