@import "../../../sass/global/variables";
@import "../../../sass/mixins/mixins";

//MODAL

:host {
  display: flex;
  flex-direction: column;
  height: rem(400px);
  width: rem(500px);
  position: fixed;
  z-index: 999;
  top: 17%;
  right: 0;
  margin: 0px 100px;
  border: 1px solid $gray-100;
  padding: 20px;
  background-color: #fff;
  transform: translate3d(130%, 0, 0);
  transition: transform 0.25s ease-in-out;
  box-shadow: 0 0 2rem -1rem rgba(0,0,0,0.5);
  overflow-y: scroll;
}


:host.showModal {
  display: flex;
  flex-direction: column;
  height: rem(400px);
  width: rem(500px);
  position: fixed;
  z-index: 999;
  top: 17%;
  right: 0;
  margin: 0px 100px;
  border: 1px solid $gray-100;
  padding: 20px;
  background-color: #fff;
  transform: translate3d(0%, 0, 0);
  box-shadow: 0 0 2rem -1rem rgba(0,0,0,0.5);
  overflow-y: scroll;
}


modal__card {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}

modal__img {
  margin: 0px 10px;
}

modal__btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}



