// -------
// AVATARS
// -------


.user {
  display: flex;
  align-items: flex-start;
  background-color: $third;
  margin: 20px 100px;
  padding: 20px 0px;
}


.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 100px;



  &--sm {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    background-color: $fourth;
    cursor: pointer;
  }

  &__info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 40%;
  }

  &__info--btn {
    display: flex;
    padding-bottom: 10px;
    width: 70%;
  }

  &__info--link {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    padding-bottom: 10px;
  }

  &__info--description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

  &__img {
    width: rem(150px);
    height: rem(150px);
    border-radius: 50%;
    border: 2px solid $text-default;
    background-color: $third;
  }

  &__username {
    text-transform: uppercase;
  }

  &__label[for="file"] {
    width: 100%;
    color: $text-default;
    background: none;
    cursor: pointer;
    text-align: center;
    transition: all .5s;
    padding: 20px;
    color: $gray-200;
  }
  &__label[for="file"]:hover {
    color: $gray-400;
  }

  &__label--img {
    width: 100%;
    margin: 20px;
    color: $text-default;
    background: none;
    cursor: pointer;
    padding: 50px 0px;
    text-align: center;
    transition: all .5s;
    padding: 10px;
  }

  &__control--file {
    display: none;
  }
}
