
/***  BUTTONS ***/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.btn {
  font-size: rem(20px);
  border-radius: 4px;
  border: 1px solid $text-default;
  padding: 7px 10px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $gray-300;
    border-color: 1px solid $gray-300;
  }


  &--profile {
    padding: 8px;
    background-color: transparent;
    font-size: rem(22px);
    border: 0;
    color: $text-default;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__primary {
    background-color: $primary;
    color: #e3e1e4;
    transition: 0.2s linear;
  }

  &__primary:hover {
    background-color: #605b83;
    color: #fff;
    transition: 0.2s linear;
  }



  &-success {
    background-color: $second;
    color: #fff;
    border: 1px solid $gray-100;
    transition: 0.2s linear;
  }

  &-success:hover {
    background-color: $second-hover;
    color: $gray-300;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    background: none;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $text-default;
  }

  &__icon--primary {
    background-color: $primary;
    color: #e3e1e4;
    transition: 0.2s linear;
    margin-right: 10px;
  }

  &__icon--primary:hover {
    background-color: #605b83;
    color: #fff;
    transition: 0.2s linear;
  }

  &__icon--model {
    margin-right: 0px;
    border: 0;

    svg {
      width: 27px;
      height: 27px;
    }
  }

}
//------------
//BUTTONS ICON
//------------



.btn__user {
  display: flex;
  flex-direction: row;
}
