
/***  BUTTONS ***/
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.btn {
  display: inline-block;
  font-size: rem(20px);
  border-radius: 7px;
  border: 1px solid $text-default;
  padding: 8px 17px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $gray-300;
    border-color: 1px solid $gray-300;
  }


  &--profile {
    padding: 8px;
    background-color: transparent;
    font-size: rem(22px);
    border: 0;
    color: $text-default;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__primary {
    min-width: 120px;
    margin: 10px;
    border: 1px solid $second-hover;
    background-color: $second-hover;
    color: #fff;
    transition: 0.2s linear;
  }

  &__primary:hover {
    border: 1px solid $second;
    background-color: $second;
    color: #fff;
    color: #fff;
  }


  &__second {
    min-width: 120px;
    margin: 10px;
    border: 1px solid $gray-200;
    color: #fff;
    background-color: $gray-200;
    transition: 0.2s linear;
  }

  &__second:hover {
    border: 1px solid $gray-300;
    background-color: $gray-300;
    color: #fff;
  }


  &__success {
    background-color: $second;
    color: #fff;
    border: 1px solid $second;
    transition: 0.2s linear;
  }

  &__success:hover {
    background-color: $second-hover;
    border: 1px solid $second-hover;
    color: #444;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    background: none;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $text-default;
  }

  &__icon--success {
    border: 1px solid $gray-300;
    color: $gray-300;
    transition: 0.2s linear;
    margin: 10px 10px 10px 0px;
  }

  &__icon--success:hover {
    border: 1px solid $second-hover;
    color: $second;
  }

  &__icon--model {
    margin-right: 0px;
    border: 0;

    svg {
      width: 27px;
      height: 27px;
    }
  }

}
//------------
//BUTTONS ICON
//------------



.btn__user {
  display: flex;
  flex-direction: row;
}
