
/***  BUTTONS ***/


.btn {
  display: inline-block;
  font-size: rem(20px);
  border-radius: 7px;
  border: 1px solid $text-default;
  padding: 8px 15px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $gray-300;
    border-color: 1px solid $gray-300;
  }


  &--profile {
    padding: 8px;
    background-color: transparent;
    font-size: rem(22px);
    border: 0;
    color: $text-default;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__link {
    color: $gray-200;
    border: 0;
    fill: #fff;
    stroke: $gray-200;
  }

  &__link--success {
    color: $gray-200;
    border: 0;
  }

  &__link:hover {
    color: $gray-400;
  }

  &__link--success:hover {
    color: $gray-400;
  }




  &__primary {
    min-width: 120px;
    margin: 10px;
    border: 1px solid $second-hover;
    background-color: $second-hover;
    color: #fff;
    transition: 0.2s linear;
  }

  &__primary:hover {
    border: 1px solid $second;
    background-color: $second;
    color: #fff;
    color: #fff;
  }


  &__second {
    min-width: 120px;
    margin: 10px;
    border: 1px solid $gray-300;
    color: $gray-300;
    transition: 0.2s linear;
  }

  &__second:hover {
    border: 1px solid $gray-200;
    color: $gray-200;
  }


  &__success {
    background-color: $second;
    color: #fff;
    border: 1px solid $second;
    transition: 0.2s linear;
  }

  &__success:hover {
    background-color: $second-hover;
    border: 1px solid $second-hover;
    color: #444;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    padding: 4px 14px;
    background: none;
    text-align: center;
    border-radius: 4px;
    fill: none;
    stroke: $gray-200;
  }
  &__icon--info {
    border: none;
  }

  &__icon--success {
    border: 1px solid $gray-300;
    color: $gray-200;
    transition: 0.2s linear;
    margin: 10px 20px;
  }

  &__icon--success:hover {
    color: $second-hover;
    background-color: rgba(70, 70, 70, 0.753);
    cursor: pointer;
  }

  &__icon--model {
    margin-right: 0px;
    border: 0;
  }

}
//------------
//BUTTONS ICON
//------------
a:hover, span:hover, button:hover  svg{
  fill: none;
  stroke: $second;
}



.btn__user {
  display: flex;
  flex-direction: row;
}
