// CATEGORYS
//---------

.category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px 100px;


  &__head {
    height: rem(280px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    color: $gray-300;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 2px solid $gray-300;
    margin-bottom: 40px;
  }

  &__line {
    width: 100%;
    margin-bottom: 40px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: auto;
    grid-gap: 40px;
  }
}

//------
// IMG MODEL 3D
//------


.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.3s linear;
  margin: 12px;
  border: 1px solid $gray-100;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0 2rem -1rem rgba(0,0,0,0.5);
  overflow: hidden;


  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 16px;
  }
  //  BTN ICONS
  //-----------

  &__hover {
    display: inline-block;
    justify-content: flex-end;
  }

  &__model {
    width: 100%;
    // border-radius: 15px 15px 0px 0px;
  }

  &:hover {
    transform: scale(0.95);
  }

  &__title {


    p, h4 {
      color: $gray-300;
      padding-top: 6px;
      margin-right: 10px;
    }

    p {

    }
  }

  &__btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    z-index: 50;
    right: 0;
    transition: 0.2s linear;
    text-align: center;
    margin: 0px 10px;
    // background-color: rgba($color: #000000, $alpha: 0.1);
  }

  &__btn--info {
    display: flex;
    flex-direction: column;

  }

}



