/*** ENTRYHOME  ***/

.cover {
  display: flex;
  justify-content: flex-start;
  height: 20.313rem;
  margin: 0px 100px;

  &__container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 10px;
  }
}


