/*** FORM  ***/
.login {
  width: 60%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  border: 1px solid $gray-100;
  margin: 20px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 2rem -1rem rgba(0,0,0,0.5);
  &__avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  &__group {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px ;
  }

  &__group--ml {
    margin-left: 30px;
  }

  &__group--file {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: rem(400px);
    font-size: rem(20px);
    border: 1px solid $gray-200;
    margin: 10px;
    border-radius: 7px;
    background-color: $gray-100;
  }

  &__group--area {
    margin-bottom: 10px;
  }

  &__group--img {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    height: rem(400px);
    font-size: rem(20px);
    border: 1px solid $text-default;
    border-radius: 7px;
    background-color: $gray-100;
  }



  //Errors
  &__group--error {
    color: $red;
    border-color: $red;
  }

  &__control--large {
    flex-grow: 2;
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__label {
    display: block;
    margin: 10px 0px;
    color: $gray-300;
  }

  &__label--files {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    text-align: left;
    padding: 20px 0px;

    & label {
      cursor: pointer;
    }

  }

  &__control {
    width: 100%;
    font-size: rem(20px);
    padding: 10px;
    border: 1px solid $gray-100;
    border-radius: 7px;
    background-color: #fff;
    color: $gray-300;
    transition: 0.1s linear;
  }

  &__control--large {
    width: 100%;
  }

  &__control--error {
    border-color: $red;
  }

  &__control--area {
    width: 100%;
    height: rem(220px);
    font-size: rem(20px);
    border: 1px solid $gray-100;
    border-radius: 7px;
    margin: 10px 0px;
    padding: 10px;
    background-color: #fff;
    color: $text-default;
  }

  &__control--icon {
    position: absolute;
    z-index: 20;
    right: 0;
  }

  &__control:focus {
    background-color: $third;
    outline: 1px solid $gray-300;
  }


  &__item {
    position: relative;
    z-index: 10;
    font-size: rem(20px);
    // padding: 0px 40px 0px 0px;
    border-radius: 7px;
    background-color: #fff;
    color: $gray-300;
  }

  &__item--control {
    width: 100%;
    font-size: rem(20px);
    background-color: transparent;
    color: $gray-300;
    border-radius: 7px;
    border: 1px solid $gray-100;
    padding: 10px;
    outline: none;
    transition: 0.1s linear;
  }

  &__item--control:focus {
    background-color: $third;
    outline: 1px solid $gray-300;
  }

  &__item--icon {
    position: absolute;
    z-index: 20;
    right: 2px;
    top: 2px;
    padding: 5px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: none;
    fill: #fff;
    stroke: $gray-200;
  }



  &__input::placeholder {
    font-size: rem(20px);
    color: $gray-100;
    padding-left: 5px;
  }

  &__link {
    padding: 5px;
  }

  &__link:hover {
    color: $gray-400;
    padding: 5px;
  }

  &__info {
    display: inline-flex;
    align-items: center;
  }

}



















