/*** HEADER  ***/
/*------------*/
.header {
  width: 100%;
  height: rem(60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}




/*** NAVBAR ***/

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px 20px;
  background-color: #333;



  &__categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__link {
    padding: 22px 15px;
    font-size: rem(20px);
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: 0.25s linear;
  }

  &__link:hover {
    color: $third;
    background-color: $gray-300;
    border-radius: 4px;
  }
}

//-----
// BTNS RIGTH

.btnHeader {
  height: rem(60px);
  display: flex;
  align-items: center;
}



