/*** HEADER  ***/
/*------------*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;


  @media screen and (max-width: 768px) {
    justify-content: start;
  }
}


//CONTAINER SEARCH

.container-search {
  width: 50%;
}

/*** NAVBAR ***/

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0px 7px;
  background-color: $gray-400;
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;


  &__categories {
    display: flex;
    align-items: center;
  }

  &__categories-toggle {
    display: flex;
    flex-direction: column;
  }

  &__link {
    padding: 10px;
    font-size: rem(18px);
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.25s linear;
    display: inline-block;
  }

  &__link:hover {
    color: $third;
    background-color: $gray-300;
    border-radius: 4px;
    stroke: none;
  }
}

//-----
// BTNS RIGTH

.btnHeader {
  height: rem(60px);
  display: flex;
  align-items: center;
}



