

//**COMPONENT VIEWER**

.model{
  display: none;
  transition: all 0.8s linear;
}

.modelShow{
  display: block;
  width: 100%;
  height: rem(400px);
  border: 1px solid $gray-200;
  background-color: $gray-100;
  transition: all 0.1s linear;
}
