// SEARCH
//---------

.search {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  width: 50rem;
  height: 2rem;
  font-size: rem(20px);
  border: 1px solid $gray-200;
  border-radius: 15px;
  color: $text-default;
  padding: 0px 0px 0px 32px;
  background-color: rgba(102, 102, 102, 0.2);

  .search__control:focus  {
    background-color: #fff;
  }

  &__control {
    width: 100%;
    font-size: rem(20px);
    background-color: transparent;
    color: $text-default;
    border-radius: 15px;
    border: 0;
    padding: 0px 7px;
    outline: none;
    transition: 0.1s linear;
  }

  &__control:focus {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    border-color: $gray-300;
  }

  &__label {
    position: absolute;
    top: -10;
  }

  &__control--icon {
    position: absolute;
    z-index: 20;
    left: 0;
  }

}



