// SEARCH
//---------

.search {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
  width: 50rem;
  font-size: rem(16px);
  border: 1px solid $gray-200;
  border-radius: 7px;
  color: $text-default;
  margin-right: 20px;
  background-color: #fff;

  .search__control:focus  {
    background-color: #fff;
  }

  &__control {
    width: 100%;
    font-size: rem(16px);
    background-color: transparent;
    color: $text-default;
    border-radius: 15px;
    border: 0;
    padding: 10px 5px 10px 40px;
    outline: none;
    transition: 0.1s linear;
  }

  &__control:focus {
    width: 100%;
    border-color: $gray-300;
  }

  &__label {
    position: absolute;
    top: -10;
  }

  &__control--icon {
    position: absolute;
    z-index: 20;
    left: 0;
    padding: 5px;
    border: 0;
    cursor: pointer;
    outline: none;
    background: none;
  }

}



