<nav class="category__title">
  <button class="btn btn--profile" type="button">Models</button>
  <button class="btn btn--profile" type="button">Collections</button>
  <button class="btn btn--profile" type="button">Message</button>
</nav>
<div id="categorie" class="category__container">
  <a class="card" href="">
    <div class="card__btn">
        <button type="button" class="btn btn__icon">
          <svg>
            <use xlink:href="../assets/svg/sprite.svg#like-hover"></use>
          </svg>
        </button>
        <button type="button" class="btn btn__icon">
          <svg>
            <use xlink:href="../assets/svg/sprite.svg#download-hover"></use>
          </svg>
        </button>
    </div>
    <img class=" card__model" src="../assets/images/Soporte movil.jpg" alt="">
    <h4>Mobile support</h4>
  </a>
  <a class="card" href="">
    <div class="card__btn">
      <button type="button" class="btn btn__icon">
        <svg>
          <use xlink:href="../assets/svg/sprite.svg#like-hover"></use>
        </svg>
      </button>
      <button type="button" class="btn btn__icon">
        <svg>
          <use xlink:href="../assets/svg/sprite.svg#download-hover"></use>
        </svg>
      </button>
  </div>
    <img class="card__model" src="../assets/images/stormtrooper-helmet.jpg" alt="">
    <h4>Stormtrooper</h4>
  </a>
  <a class="card" href="">
    <div class="card__btn">
      <button type="button" class="btn btn__icon">
        <svg>
          <use xlink:href="../assets/svg/sprite.svg#like-hover"></use>
        </svg>
      </button>
      <button type="button" class="btn btn__icon">
        <svg>
          <use xlink:href="../assets/svg/sprite.svg#download-hover"></use>
        </svg>
      </button>
  </div>
    <img class="card__model" src="../assets/images/Exo-esqueleto hand.jpg" alt="">
    <h4>Hand</h4>
  </a>
  <a class="card" href="">
    <div class="card__btn">
      <button type="button" class="btn btn__icon">
        <svg>
          <use xlink:href="../assets/svg/sprite.svg#like-hover"></use>
        </svg>
      </button>
      <button type="button" class="btn btn__icon">
        <svg>
          <use xlink:href="../assets/svg/sprite.svg#download-hover"></use>
        </svg>
      </button>
  </div>
    <img class="card__model" src="../assets/images/Box-tarjetas SD.jpeg" alt="">
    <h4>Box card Sd</h4>
  </a>
</div>
