<!-- **** -->
<!-- ENTRY USER -->
<div *ngIf="infoUser" class="user">
  <div class="avatar">
    <form class="" action="...">
      <label class="avatar__label" for="file" (click)="photoInput.click()">Change image</label>
      <input class="avatar__control--file" (change)="changeFile($event)"  name="image"  type="file"   #photoInput>
      <img class="avatar__img" [src]="imageSelected || '/assets/images/userImg.png'"
      (click)="photoInput.click()">
    </form>
  </div>
  <div class="avatar__info">

    <div class="avatar__info--btn">
      <h1 class="avatar__username">{{infoUser.username}}</h1>
      <a class="btn btn__icon btn__icon--success" routerLink="/editUser" >Edit</a>
        <a (click)="logout()" class="btn btn__icon btn__icon--success">
          <svg>
            <use xlink:href="../assets/svg/sprite.svg#exit"></use>
          </svg>
        </a>
    </div>
      <div class="avatar__info--link">
        <a class="btn__link btn__link--success">
          {{infoUser.location}}
        </a>
        <a class="btn__link" routerLink="https://www.youtube.com/watch?v=AbJ-y2vZgBs&feature=youtu.be">
          {{infoUser.instragram}}
        </a>
        <a class="btn__link" routerLink="">
          <svg>
            <use xlink:href="../assets/svg/sprite.svg#location"></use>
          </svg>
          {{infoUser.email}}
        </a>
      </div>
      <div class="avatar__info--description">
      <p>{{infoUser.bio}}</p>
      </div>
  </div>
</div>
<app-listModel [listModels]="modelsUser" [showNavigation]="true" [showTitle]="false"></app-listModel>
<!-- ENTRY USER -->
<!-- **** -->
